.attributes {
    border: 1px solid #8b8b8b;
    border-radius: 25px;
    line-height: 30px;
}

.attribinput {
    width: 50px !important;
    border-radius: 25px !important;
    outline: none !important;
    height: 25px;
}

.welcomemsg {
    color: #fff !important;
}

.btnxsmall {
    height: 20px;
    width: 65px;
    border-radius: 15px;
    font-size: 10px;
    line-height: 4px;
}

.avatar {
    width: 200px;
    height: auto;
    border-radius: 25px;
}

.shieldarmor {
    width: 100px;
    height: auto;
}